h2{
    color: #f8f9fa;
    font-size: 32px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 15px;
    padding-top: 20px;
    text-align: center;
}

h1{
    color: #f8f9fa;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 35px;
}

h3{
    color: #f8f9fa;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 23px ;
    text-align: center;
}

p{
    color: #cdebff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 20px ;
    text-align: center;
}




header li{
    color: #b25800;
    padding-bottom: 3px 0;
    font-size: 18px ;
    padding: 10px;
    margin: 0 20px;

}

main li{
    color: #b25800;
    padding-bottom: 3px 0;
    font-size: 18px ;
    padding: 8px;
    margin: 0 20px;

}

a{
   
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
}

main ul {
    margin-left: 20px;
}


body{
    background-color: #2b3647;
}
header{
    background-color: #14213d;
    border: 5px solid #b25800;
    /*position: fixed;*/

}
footer{
    background-color: #14213d;
    border: 4px solid #b25800;
    text-align: center;
}
footer p {
    margin: 14px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
img{

    border: 4px solid #d46c03;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
    margin-bottom: 30px;
}

.menu-navegacion ul {
    display: flex;
    justify-content: center;
    list-style: none;
    /*padding: 15px 0;
    margin: 0;*/
}
.menu-navegacion a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu-navegacion a:hover {
    color: #ffcc00;
}

.contenedor{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.ImagenInteres img{
    border: 4px solid #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    height: auto;
}

.Apasiona{
    text-align: center;
    padding-bottom: 60px;
}

/*.principioindex{
    padding-top: 210px;
}*/

.header-principal {
    display: flex;
    justify-content: space-between; /* Empuja el logo a la izquierda y el menú a la derecha */
    align-items: center;           /* Centra todo verticalmente */
    background-color: #14213d;     /* El azul de la imagen de ejemplo */
    padding: 10px 50px;            /* Espacio interno para que no toque los bordes */
    color: white;
}

.logo-titulo {
    display: flex;
    align-items: center;           /* Alinea el icono con el texto */
    gap: 15px;                     /* Espacio entre el icono y el nombre */
}

.icono-header {
    width: 90px;                   /* Ajustá el tamaño de tu icono */
    height: auto;
}

@media (max-width: 500px) {
    .menu-navegacion ul{
        flex-direction: column;
    }
}